@font-face {
   font-family: "Gelion";
   src:
      url("../fonts/Gelion-Regular.woff2") format("woff2"),
      url("../fonts/Gelion-Regular.woff") format("woff");
   font-display: swap;
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: "Gelion";
   src:
      url("../fonts/Gelion-Medium.woff2") format("woff2"),
      url("../fonts/Gelion-Medium.woff") format("woff");
   font-display: swap;
   font-style: normal;
   font-weight: 500;
}

@font-face {
   font-family: "Gelion";
   src:
      url("../fonts/Gelion-SemiBold.woff2") format("woff2"),
      url("../fonts/Gelion-SemiBold.woff") format("woff");
   font-display: swap;
   font-style: normal;
   font-weight: 600;
}

@font-face {
   font-family: "Gelion";
   src:
      url("../fonts/Gelion-Bold.woff2") format("woff2"),
      url("../fonts/Gelion-Bold.woff") format("woff");
   font-display: swap;
   font-style: normal;
   font-weight: 700;
}

@font-face {
   font-family: "Red Hat Display";
   src:
      url("../fonts/RedHatDisplay-Bold.woff2") format("woff2"),
      url("../fonts/RedHatDisplay-Bold.woff") format("woff");
   font-display: swap;
   font-style: normal;
   font-weight: 700;
}